body{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: blueviolet;
    height: 40%;
    width: 20%;
    transition: all 0.3 ease-in-out;
}
.box:hover{
    transform: scale(1.1);
}
 @keyframes myAnimation {
    animation{
    animation: myAnimation;
    color: red;
    }
}